<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICertificateService" maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
                  <readerQuotas maxDepth="32"
                     maxArrayLength="200000000"
                     maxStringContentLength="200000000"/>
                </binding>
              
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50504/CertificateService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificateService"
                contract="CertificateServiceRef.ICertificateService" name="BasicHttpBinding_ICertificateService" />
        </client>
    </system.serviceModel>
</configuration>
